<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>منو | کافه و رستوران هور</title>
<body>

    <section class="nav-and-background">
        <div class="navbar">
            <span id="change-language-icon"><i class="bi bi-globe-americas"></i></span>
            <span id="cafe-name">کافه و رستوران هور</span>
            <span id="signup-login-icon"><i class="bi bi-person"></i></span>
        </div>
    </section>
    <section class="footer">
        <div class="cafe-name-and-logo">
            <a href="https://www.hoorfamily.ir"><img src="../assets/images/hoorCafe-yard-2.jfif" alt="Hoor cafe logo."></a>
            <p>کافه و رستوران هور</p>
        </div>
        <div class="cafe-options">
            <a href="#" class="menu-visit-link">مشاهده منو<i class="bi bi-arrow-left"></i></a>
            <a href="#" class="cafe-information-link">اطلاعات رستوران<i class="bi bi-arrow-left"></i></a>
        </div>
    </section>


</body>
</html>