<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>منوی کافه</title>
</head>
<body>
    <section class="header-menuitems">
        <div class="navbar">
            <span id="change-language-icon"><i class="bi bi-globe-americas"></i></span>
            <span id="cafe-name">کافه و رستوران هور</span>
            <span id="signup-login-icon"><i class="bi bi-person"></i></span>
        </div>
        <div class="cafe-logo-img">
            <a href="#"><img src="../assets/images/hoorCafe-logo.jpg"></a>
        </div>
        <form action="">
            <input type="search" name="search" placeholder="جستجو ...">
        </form>
        <div class="cafe-menu-items">
            <ul>
                <li>قهوه</li>
                <li>گرم نوش</li>
                <li>چای و دمنوش</li>
                <li>شربت بار</li>
                <li>ماکتل</li>
                <li>اسموتی ها</li>
                <li>شکلات بار</li>
                <li>شیک ها</li>
                <li>نوشیدنی کنار غذا</li>
            </ul>
        </div>
    </section>
</body>
</html>